<!--PARALLAX CONTAINER-->
  <div class="parallax-container">
    <div class="parallax"><img src="img/maths2.png" alt="Unsplashed background img 1" ></div>
  </div>
  <!--PARALLAX CONTAINER END-->
  
  <!--INFO SECTION-->
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <blockquote id="block">  
        <p class="quoteText">
          01110111 01100101 01101100 01100011 01101111 01101101 01100101
        </p>  
        <br><br><br>
        </blockquote>
        <br><br><br>
      </div>  
    </div> 
    <div class="row">
      <div class="col s12 m6 l6 center">
        <h4 id="about">ABOUT</h4>
        <p class="contentText">
          I have a Masters degree in Theoretical Physics, awarded by the University of Sheffield. Over the 4 years
          I completed advanced physics modules and research projects involving mathematical modelling
          and algorithm writing in C / C++.
        </p>
        <p class="contentText">
          Over the degree I had to rapidly learn and apply new knowledge to group and individual projects. 
        </p>
        <p class="contentText">
          Currently employed by Sparta Global, training at their
          web development academy in Richmond, London. My main interests are minimalistic Web Design and 
          Development, software in Finance and Trading, Quantum Mechanics, Quantum Computing, Particle Physics 
          and Applied Mathematics.
        </p>
      </div>
      <div class="col s12 m6 l6 center">
        <h4>SKILLS</h4>
        <p class="contentText">
          A proven ability to model complex physical systems analytically and computatioanlly, generating and analysing large amounts of data using 
          different software.
        </p>
        <p class="contentText">
          Experience coding numerical integration methods and Monte Carlo simulations in C++, using of Matlab to 
          perform Fourier Analysis on the latter. 
        </p>
        <p class="contentText">
          Ability to use HTML, CSS, JavaScript and jQuery with or without frameworks
          to produce responsive and animated websites, as well as using the Command Line and GitHub to manage my projects.
        </p>
      </div> 
    </div>
  </div>
  <!--INFO SECTION END  -->

  <!--PARALLAX CONTAINER 2-->
  <div class="parallax-container">
    <div class="parallax"><img src="img/proton2.png"  alt="Unsplashed background img 2"></div>
  </div>
  <!--PARALLAX CONTAINER 2 END-->

  <!--COLLAPSIBLE END-->
  <div class="section">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header" id="collapseJobs">Jobs</div>
        <div class="collapsible-body">
          <p>
            <span class="xTitle">Sparta Global:</span><br>
            <em>Junior Web Developer</em>
          </p>
          <p>
            Skills include but are not limited to JavaScript, HTML5, CSS3, jQuery,
            node.js. Please see below to view my code for projects hosted on GitHub.
          </p>
          <p>
            <span class="xTitle">Royal Botanical Gardens, Kew:</span><br>
            <em>Events Crew</em></p>
          <p>
            I worked in a team of 4-6 people responsible for organising and 
            setting up events around the gardens, as 
            well as ensuring offices, storage rooms and warehouses were clean, safe
            and organised.                       
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"></div>
      </li>            
      <li>
        <div class="collapsible-header" id="collapseEducation">Education</div>
        <div class="collapsible-body">
          <p>
            <span class="xTitle">University of Sheffield:</span><br> 
            Master of Theoretical Physics, <em>1st class with Honours</em>
          </p>
          <p>
            The first three years followed a pretty standard path for a Theoretical 
            Physics degree. In my final year I took an introductory General 
            Relativity course and advanced modules in
            Quantum Mechanics, Particle Physics and Lagrangian and Hamiltonian Mechanics.
            Dirac notation, Index notation 
            and Four Vector notation were used heavily throughout. My dissertation was 
            to study the phase separation of a 50:50 binary polymer blend. It involved
            Partition Functions, Electrostatics and Thermodynamics, Taylor Series', Fourier Analysis
            and Monte Carlo in C++.
          </p>
          <p>
            <span class="xTitle">Ealing, Hammersmith and West London College</span><br> 
            A-levels:  Physics <em>(A)</em>, Maths <em>(A)</em>, Further Maths <em>(A)</em>
          </p>  
        </div>
      </li>
    </ul>
  </div>
  <!--COLLAPSIBLE END-->



