
<!--FOOTER-->
<br>
<div class="container" id="contactFooter">
  <div class="row">          
    <div class="col s12 center">                
      <ul>
        <li><a class="black-text text-lighten-3" href="https://www.linkedin.com/in/rafiq-shahsawary-6a1258123">LinkedIn</a></li>
        <li><a class="black-text text-lighten-3" href="https://medium.com/@rshahsawary1">Medium</a></li>
        <li><a class="black-text text-lighten-3" href="#!">Twitter</a></li>
        <li><a class="black-text text-lighten-3" href="https://github.com/orthogon4lorthodont1st">Github</a></li>
      </ul>
    </div>
  </div>
</div>
<!--FOOTER END-->