<!--NAV BAR-->
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">Rafiq Shahsawary</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="navToAppend">
        <li><a id="contactNav" href="#">Contact</a></li>
        <li><a id="projectsNav" href="#">Projects</a></li>
        <li><a id="educationNav" href="#">Education</a></li>
        <li><a id="jobsNav" href="#">Jobs</a></li>            
        <li><a id="skillsNav" href="#">Skills</a></li>
        <li><a id="aboutNav" href="#">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#" id="aboutSide">About</a></li>
        <li><a href="#" id="skillsSide">Skills</a></li>
        <li><a href="#" id="jobsSide">Jobs</a></li>          
        <li><a href="#" id="educationSide">Education</a></li>
        <li><a href="#" id="projectsSide">Projects</a></li>
        <li><a href="#" id="contactSide">Contact</a></li>
      </ul>
    </div>
  </nav>
  <!--NAV BAR END-->