<!--PROJECT SECTION-->
  <div class="row" id="bottom">
    <div class="col s6 center">
      <h4 id="projects">PROJECTS</h4>
      <div class="col s6 center">
        <p class="linksProjects"><a href="https://github.com/orthogon4lorthodont1st/rockPaperScissors">Rock_Paper_Scissors</a></p>
        <p class="linksProjects"><a href="https://github.com/orthogon4lorthodont1st/rockPaperScissorsTwo">Rock_Paper_Scissors_2</a></p>
        <p class="linksProjects"><a href="https://github.com/orthogon4lorthodont1st/naughtsAndCrosses">Noughts_And_Crosses</a></p>
      </div>
    </div>  
  </div>
  <!--PROJECT SECTION END-->