<!--PROJECT SECTION-->
  <div class="row" id="projectRow">
    <div class="col s6 m6 l6 center">
      <h4 class="projects" id="proj">PROJ</h4>
      <h4 class="projects">ECTS</h4>
    </div>
      <div class="col s6 m6 l6 center">
        <p class="linksProjects"><a href="https://github.com/orthogon4lorthodont1st/rockPaperScissorsTwo">Rock_Paper_Scissors_2</a></p>
        <p class="linksProjects"><a href="https://nac-two-player.herokuapp.com/">Noughts_And_Crosses_II_player</a></p>
        <p class="linksProjects"><a href="https://nac-one-player.herokuapp.com/">Noughts_And_Crosses_I_player</a></p>
        
      </div>
    </div>  
  </div>
  <!--PROJECT SECTION END-->

    <!--PARALLAX CONTAINER 3-->
  <div class="parallax-container">
    <div class="parallax">
      <img src="img/maths2.png"  alt="Unsplashed background img 3">
    </div>
  </div>
  <!--PARALLAX CONATINER 3 END-->