<!DOCTYPE html>
<html lang="en">
<head>
  <title>raf CV</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="css/materialize.css" type="text/css" rel="stylesheet"/>
  <link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>

  <body>
    <!--NAV BAR-->
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Rafiq Shahsawary</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="navToAppend">
            <li><a id="contactNav" href="#">Contact</a></li>
            <li><a id="projectsNav" href="#">Projects</a></li>
            <li><a id="educationNav" href="#">Education</a></li>
            <li><a id="jobsNav" href="#">Jobs</a></li>            
            <li><a id="skillsNav" href="#">Skills</a></li>
            <li><a id="aboutNav" href="#">About</a></li>
          </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#" id="aboutSide">About</a></li>
          <li><a href="#" id="skillsSide">Skills</a></li>
          <li><a href="#" id="jobsSide">Jobs</a></li>          
          <li><a href="#" id="educationSide">Education</a></li>
          <li><a href="#" id="projectsSide">Projects</a></li>
          <li><a href="#" id="contactSide">Contact</a></li>
        </ul>
      </div>
    </nav>
    <!--NAV BAR END-->

  <!--PARALLAX CONTAINER-->
  <div class="parallax-container">
    <div class="parallax"><img src="img/maths2.png" alt="Unsplashed background img 1" ></div>
  </div>
  <!--PARALLAX CONTAINER END-->
  
    <!--INFO SECTION-->
    <div class="section">
     <div class="row">
        <div class="col s12 center">
          <blockquote id="block">  
             <p class="quoteText">
                Any man whose errors take ten years to correct is quite a man.          
             </p>  
             <br><br><br>
          </blockquote>
          <br><br><br>
        </div>  
      </div> 
      <div class="row">
        <div class="col s12 m6 l6 center">
          <h4 id="about">ABOUT</h4>
          <p class="contentText">
            I have a Masters degree in Theoretical Physics, awarded by the University of Sheffield. Over the 4 years
            I completed advanced physics modules and research projects involving mathematical modelling
            and algorithm writing in C / C++.
          </p>
          <p class="contentText">
            Over the degree I had to rapidly learn and apply new knowledge to group and individual projects. 
          </p>
          <p class="contentText">
            Currently employed by Sparta Global, training at their
            web development academy in Richmond, London. My main interests are minimalistic Web Design and 
            Development, software in Finance and Trading, Quantum Mechanics, Quantum Computing, Particle Physics 
            and Applied Mathematics.
          </p>
        </div>
        <div class="col s12 m6 l6 center">
          <h4>SKILLS</h4>
          <p class="contentText">
            A proven ability to model complex physical systems analytically and computatioanlly, generating and analysing large amounts of data using 
            different software.
          </p>
          <p class="contentText">
            Experience coding numerical integration methods and Monte Carlo simulations in C++, using of Matlab to 
            perform Fourier Analysis on the latter. 
          </p>
          <p class="contentText">
            Ability to use HTML, CSS, JavaScript and jQuery with or without frameworks
            to produce responsive and animated websites, as well as using the Command Line and GitHub to manage my projects.
          </p>
        </div> 
      </div>
    </div>
    <div class="section"></div>
  </div>
  <!--INFO SECTION END  -->

  <!--PARALLAX CONTAINER 2-->
  <div class="parallax-container">
    <div class="parallax"><img src="img/proton2.png"  alt="Unsplashed background img 2"></div>
  </div>
  <!--PARALLAX CONTAINER 2 END-->

  <!--COLLAPSIBLE END-->
      <div class="section">
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header" id="collapseJobs">Jobs</div>
              <div class="collapsible-body">
                <p><span class="xTitle">Sparta Global:</span><br>
                  <em>Junior Web Developer</em>
                </p>
                <p>
                  Skills include but are not limited to JavaScript, HTML5, CSS3, jQuery,
                  node.js. Please see below to view my code for projects hosted on GitHub.
                </p>
                <p><span class="xTitle">Royal Botanical Gardens, Kew:</span><br>
                <em>Events Crew</em></p>
                <p>
                  I worked in a team of 4-6 people responsible for organising and 
                  setting up events around the gardens, as 
                  well as ensuring offices, storage rooms and warehouses were clean, safe
                  and organised.                       
                </p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"></div>
              <!--<div class="collapsible-body"><p></p></div>-->
            </li>            
            <li>
              <div class="collapsible-header" id="collapseEducation">Education</div>
              <div class="collapsible-body">
                <p><span class="xTitle">University of Sheffield:</span><br> 
                   Master of Theoretical Physics, <em>1st class with Honours</em>
                </p>
                <p>The first three years followed a pretty standard path for a Theoretical 
                   Physics degree. In my final year I took an introductory General 
                   Relativity course and advanced modules in
                   Quantum Mechanics, Particle Physics and Lagrangian and Hamiltonian Mechanics.
                   Dirac notation, Index notation 
                   and Four Vector notation were used heavily throughout. My dissertation was 
                   to study the phase separation of a 50:50 binary polymer blend. It involved
                   Partition Functions and Thermodynamics, Taylor Series, Fourier Analysis
                   and Monte Carlo in C++.

                </p>
                <p><span class="xTitle">Ealing, Hammersmith and West London College</span><br> 
                A-levels:  Physics <em>(A)</em>, Maths <em>(A)</em>, Further Maths <em>(A)</em>
                </p>
                  
                </p>
              </div>
            </li>
          </ul>
      </div>
   <!--COLLAPSIBLE END-->

  <!--PARALLAX CONTAINER 3-->
  <div class="parallax-container">
    <div class="parallax"><img src="img/maths2.png"  alt="Unsplashed background img 3"></div>
  </div>
  <!--PARALLAX CONATINER 3 END-->
    
        <!--QUOTES-->
        <div class="row">
          <div class="col s12 center">
            <blockquote id="block1">  
              <p class="quoteText">
                  Do not read so much. Look about you and think of what you see there.     
              </p>  
              <br><br><br>
            </blockquote>
            <br>
          </div>  
        </div> 
        <!--QUOTES END-->

      <!--PROJECT SECTION-->
      <div class="row" id="bottom">
        <div class="col s12 center">
          <h4 id="projects">PROJECTS</h4>
          <p class="linksProjects"><a href="https://github.com/orthogon4lorthodont1st/rockPaperScissors">Rock_Paper_Scissors</a></p>
          <p class="linksProjects"><a href="https://github.com/orthogon4lorthodont1st/rockPaperScissorsTwo">Rock_Paper_Scissors_2</a></p>
          <p class="linksProjects"><a href="https://github.com/orthogon4lorthodont1st/naughtsAndCrosses">Naughts_And_Crosses</a></p>
        </div>  
      </div>
      <!--PROJECT SECTION END-->

      <!--CONTACT FORM-->
        <div class="row">
            <form class="col s12" method="POST" action="/contact">
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="First Name" name="firstName" id="firstName" type="text" class="validate" required>
                    <label for="first_name">First Name</label>        
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="Last Name" name="lastName" id="lastName" type="text" class="validate" required>
                    <label for="last_name">Last Name</label>        
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="Email" name="email" id="email" type="email" class="validate" required>
                    <label for="email">Email</label>        
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="Message" name="message" id="message" type="text" class="validate" required>
                    <label for="message">Message</label>        
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button>
            </form>
        </div>
        <!--CONTACT FORM END-->

          <!--FOOTER-->
     <br>
          <div class="container" id="contactFooter">
            <div class="row">          
              <div class="col s12 center">                
                <ul>
                  <li><a class="black-text text-lighten-3" href="https://www.linkedin.com/in/rafiq-shahsawary-6a1258123">LinkedIn</a></li>
                  <li><a class="black-text text-lighten-3" href="https://medium.com/@rshahsawary1">Medium</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="black-text text-lighten-3" href="https://github.com/orthogon4lorthodont1st">Github</a></li>
                </ul>
              </div>
            </div>
          </div>
     <!--FOOTER END-->
     
    <!-- SCRIPTS -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>