<!DOCTYPE html>
<html lang="en">
    <head>
        <title>raf CV</title>
        <!--CSS-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="css/materialize.css" type="text/css" rel="stylesheet"/>
        <link href="css/style.css" type="text/css" rel="stylesheet"/>
        <!--CSS END-->
        </head>
    <body>
        <% include ./sections/nav.ejs %>
        <% include ./sections/content.ejs %>
        <% include ./sections/projects.ejs %>
        <% include ./sections/contactform.ejs %>
        <% include ./sections/footer.ejs %>
        <!--SCRIPTS-->
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/script.js"></script>
        <!--SCRIPTS END-->   
    </body>
</html>