

.brand-logo {
  font-family:"New York";
  line-height:230%;
}
h4 {
  font-weight:900;
}
.contentText {
  font-weight:700;
  font-size:100%;
  letter-spacing: 0.6px;
} 
body {
  font-family:"Source Code Pro", Verdana;
}
.xTitle {
  font-weight:600;
}

 /*--- NAV BAR ---*/
nav .nav-wrapper a{
  padding-left:1.5%;
}
nav .nav-wrapper ul li a {
  padding-left:20%;
 }
 nav .nav-wrapper ul {
   margin-right:20px;
 }
.button-collapse {
  color: white;
}
.nav-wrapper ul li a {
  color:white;
}
.nav-wrapper {
  background-color:black;
}
.side-nav {
  background-color:black;
}
.navToAppend li{
  float:right;
  padding-right:1%;
  padding-left:1%;
}
@media screen and (min-width: 0px) and (max-width: 995px) {
  .navToAppend li {
    visibility:hidden;
  }
}
/*--- NAV BAR END */

/*--- CONTENT ---*/
/************************/
.section {
  width:90%;
  margin-left:auto;
  margin-right:auto;
  padding:1%;
}

/*--- COLLAPSIBLE HEADER ---*/
#collapseJobs {
  font-weight:900;
  text-transform:uppercase;
}
#collapseEducation {
  font-weight:900;
  text-transform:uppercase;
}
.section ul li {
  font-size:130%;
  display:inline;

}
/*--- COLLAPSIBLE HEADER END ---*/

/*--- PARALLAX CONTAINERS ---*/
.parallax-container {
  width:100%;
  min-height: 370px;
  height: auto;
  margin-top:1%;
  margin-bottom:1%; 
}
/*--- PARALLAX CONTAINER END ---*/

/*--- QUOTE STYLING ---*/
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  display: inline;
}

.quoteText {
  font-size:3.1em;
}
/*--- QUOTE STYLING END ---*/
/********************************/
/*--- CONTENT END ---*/

 /*--- SOCIAL MEDIA LINKS ---*/
.container ul li {
  font-size:130%;
  display:inline;
  padding-right:7%;
  padding-left:7%;
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  bottom:0;
}
.container ul li a {
  font-weight:bold;
}
.container {
  width:100%;
}
/*--- SOCIAL MEDIA LINKS END ---*/


/*--- CONTACT FORM ---*/
.btn {
  background:black;
  width:50%;
}
.btn:hover {
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
  transform:scale(1.05);
  background:lightgrey;
  color:black;
  font-weight:700;
}
.btn:active {
    -webkit-transform:scale(.95); /* Safari and Chrome */
    -moz-transform:scale(.95); /* Firefox */
    -ms-transform:scale(.95); /* IE 9 */
    -o-transform:scale(.95); /* Opera */
     transform:scale(.95);
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: black;
}
/*--- CONTACT FORM END ---*/


/*--- PROJECTS ---*/
#projectRow {
  padding-bottom:6%;
  padding-top:3%;
}
.linksProjects a{
  float:left;
  padding-left:3%;
  color:black;
  font-weight:700;
}
.projects{
  float:left;
  margin-left:5%;
  line-height:48%;
  font-size:1200%;
  color:darkgrey;
}
#proj {
  margin-left:5.58%;
}
@media screen and (min-width: 600px) and (max-width: 995px) {
  .projects {
    line-height:40%;
    font-size:900%;
  }
  #proj {
    margin-left:5.56%;
  }
}
@media screen and (min-width: 0px) and (max-width: 700px) {
  .projects {
    line-height:28%;
    font-size:550%;
  }
  #proj {
    margin-left:5.5%;
  }
}
/*--- PROJECTS END ---*/